@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --corprincipal: #ff6200;
    --fonteprincipal: "Poppins", sans-serif;
}

.nav {
    background-color: var(--corprincipal);
    padding: 18px;
    margin: 0px;
    display: flex;
    align-items: center;
}

.nav img {
    margin-right: 30px; 
    margin-left: 300px;
}

.links a {
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    color: white;
    font-size: 18px;
    margin: 0px 15px; 
    font-weight: bold;

}

.links a:hover {
    color: rgb(255, 217, 0);
    transition-duration: 0.4s;
}

.agencia input {   
    border-style: none;
    border-radius: 20px;
    margin-left: 200px;
    padding: 13px;  
    font-family: "Poppins", sans-serif;                  
}

.conta input {
    border-style: none;
    border-radius: 20px;
    margin-left: 0px;
    padding: 13px;  
    font-family: "Poppins", sans-serif;
}

.abraconta a {
    margin-left: 50px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: white;
    padding: 10px;
    border: solid;
    border-radius: 10px;
}

.abraconta a:hover {
    transition-duration: 0.5s;
    background-color: white;
    color: var(--corprincipal);
}

.main {
    position: relative;
}

.imagem {
    position: relative;
}

.ingressositau {
    position: absolute;
    top: 37%;
    left: 30%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-family: "Poppins", sans-serif;
    z-index: 1;
}

.ingressositau p {
    padding-bottom: 30px;
}

.ingressositau a {
    margin-bottom: 40px;
    max-width: 160px;
    margin: 10px;
    text-decoration: none;
    border-radius: 10px;
    font-weight: bold;
    padding: 22px;
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0.308);
    color: white;
}

.ingressositau a:hover {
    transition-duration: 0.4s;
    background-color: rgba(82, 83, 82, 0.74);
    color: var(--corprincipal);
}

.conteudo h1 {
    font-size: 30px;
    margin-left: 300px;
    margin-bottom: 70px;
    font-family: var(--fonteprincipal);
}

#boleto {
    margin-left: 300px;
}

.questoes a {
    margin-left: 30px;
    border: 1px solid black;   
    text-decoration: none;
    color: black;
    padding: 40px;
    border-radius: 10px;
    font-family: var(--fonteprincipal);
}

.questoes a:hover {
    transition-duration: 0.4s;
    border: 1px solid var(--corprincipal); 
    color: var(--corprincipal);
}

body {
    margin: 0px;
}

.edu {
    background-color: var(--corprincipal);
    text-align: center;
    margin-top: 93px;
    padding: 12px;
    font-family: var(--fonteprincipal);
    color: white;
}

.edu a {
    text-decoration: none;
    color: white;
}

.edu a:hover {
    transition-duration: 0.4s;
    color: rgb(255, 217, 0);

}